main {
    width: 100%;
    height: calc(100vh - 80px);
    background: url(original.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: scroll;
}

body {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    height: 80px;
    background-color: rgba(55, 71, 84, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    text-shadow: 2px 2px 3px black;
}

.logo {
    padding: 4px;
}

.logo-icon {
    height: 50px;
}

.head-text p {
    font-size: 25px;
    color: #ffffff;
    padding: 4px;
}

.textarea-box textarea {
    width: 100%;
    height: 80px;
}

.center-box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: 500px;
    height: auto;
    overflow: hidden;
    background-color: rgba(55, 71, 84, 0.9);
    color: white;
}

.center-box div {
    margin: 0px 15px 20px 10px;
}

.transformButton-box {
    display: flex;
    justify-content: center;
}

.transformButton-box button {
    color: white;
    background-color: #65c7d0;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border: none;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
    outline: none;
}

.transformButton-box button:active {
    border: none;
    outline: none;
    background-color: white;
    color: #65c7d0;
}

.transformButton-box button:hover {
    background-color: #478e94;
    outline: none;
}

.textarea-box textarea {
    cursor: pointer;
    width: 100%;
    height: 130px;
    resize: none;
    justify-content: center;
    background-color: rgba(55, 71, 84, 0.9);
    color: #65c7d0;
    font-size: 14px;
    border: none;
    outline: none;
}
#textplaceholder::placeholder {
    color: white;
}



.description-box span {
    font-size: 18px;
    padding: 8px;
    color: #65c7d0;
}

footer {
    z-index: 1;
    background-color: rgba(55, 71, 84, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.logo {
    align-items: flex-start;
}

.logo-block {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.flogo-icon {
    height: 35px;
}

.fhead-text p {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

.copyright {
    font-size: 17px;
    color: #65c7d0;
    padding-right: 20px;
}

.cyber-table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.8);
    color: #65c7d0;
    /* text-shadow: 2px 2px 3px #65c7d0; */
    font-size: 20px;
}


.cyber-table td {
    padding: 10px;
}

.cyber-table tr :nth-child(odd) {
    background-color: rgba(55, 71, 84, 0.7);
}

.cyber-table tr :nth-child(even) {
    background-color: rgb(46, 74, 98, 0.7);
}

.thname {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px;
    color: #65c7d0;
    text-shadow: 2px 2px 3px black;
}

.hide-center-box {
    visibility: hidden;
}

.modal-box {
    visibility: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    height: calc(100vh - 80px);
    width: 100%;
}

.modal-visible{
    visibility: visible;
}

.modal {
    height: 15vh;
    width: 40vw;
    background-color:rgba(55, 71, 84);
     display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.modal-header {
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #65c7d0;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.modal-header p{
font-size: 30px;
font-weight: bolder;
 padding: 10px;
 color: black;
 text-shadow: 2px 2px 3px white;
}
.close-button{
   background: none;
   border: none;
   outline: none;
   padding: 10px;
}
.close-button img{
width: 50px;
}
.modal-content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content:center;  
    align-items: center;
    flex-direction: row;
   
}
.modal-table{
    background-color:rgb(105, 130, 163);
    color: rgb(37, 37, 37);
    width: 100%;
    height: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
} 
.modal-table td{ 
    border: 1px solid #65c7d0;
    text-align: center; 
    padding: 10px;
    font-size: 18px;

}

#btnview{
 padding: 0;
}
.view{
width: 100%;
height: 100%;padding: 0;

font-size: 16px;
color: #65c7d0;
border: none;
outline: none;
}












/* this is my scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 100%;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(101, 199, 208, 0.1);

}

::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: rgb(101, 199, 208, 0.9);
    border: 1px solid #65c7d0;

}