body {
    background: url(original.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: scroll;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    background-color: rgba(55, 71, 84, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    text-shadow: 2px 2px 3px black;
}

.logo {
    padding: 4px;
}

.logo-icon {
    height: 50px;
}

.head-text p {
    font-size: 25px;
    color: #ffffff;
    padding: 4px;
}
.textarea-box textarea{
    width:100%;
    height: 80px;
}
.center-box {
    position: fixed;
    padding: 5px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    margin: -150px 0 0 -250px;
    overflow: hidden;
    background-color: rgba(55, 71, 84, 0.9);
    color: white;
}

.center-box div {
    margin: 20px 10px 20px 10px;
}

progress {
    appearance: none;
    border: none;
    /* убрать рамку в Firefox */
    width: 100%;
    height: 20px;
    border-radius: 3px;
    color: #4d7198;
    /* цветная линия-индикатор в IE */
    background: #eee;
    background-image: linear-gradient(to right, #e4e4e4 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .2) 1px, rgba(255, 255, 255, .4) 1px, rgba(0, 0, 0, .2));
    background-size: 10% 100%, 100% 100%;
}

footer {
    background-color: rgba(55, 71, 84, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.logo {
    align-items: flex-start;
}

.logo-block {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.flogo-icon {
    height: 35px;
}
.fhead-text p {
    font-size: 20px;
    color: #ffffff; text-shadow: 2px 2px 3px black;
}
.copyright{
    font-size: 17px;
    color: #65c7d0;
    padding-right: 20px;
}